<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Mercado Liebre</title>
    <!-- forma de adaptar la vista un sitio web a multiples dispositivos-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/styles.css">
    <!--incertamos un tipo de letra de googlefonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    
</head>
<body>
    <header>
        <div class = "top-header-registro">   
        <div class ="logo-login">
                <img src = "img/logo-mercado-liebre.svg" alt = "aca se inserta el logo de Merc.Liebre"></div>
            
                <input type="search" class="tamaño-barra" placeholder="Buscar productos, marcas y más"><i class="fas fa-search"></i></input>

          <p class="tamaño-texto-p"><i class="fas fa-hand-holding-usd"></i>compra en cuotas y sin tarjetas de credito</p>
        </div>
    </div>
            <nav class="nav-login">
                
                 <div class="nav-menu">
                     <a href="#">Ofertas</a>
                    <a href="#">Tiendas Oficiales</a>
                    <a href="#">Vender</a>
                    <a href="#">Ayuda</a></div>
                    
                    
                <div class="nav-menu">
                    <a href="#">Creá tu cuenta</a><i class="far fa-address-card"></i>
                    <a href="#">Ingresá</a><i class="fas fa-sign-in-alt"></i>
                    <a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></div>
                
            </nav>
            <div class="burger-menu">
                <button class = "burger"><i class="fas fa-bars"></i></button>
                </div>

    </header>
    
    <main>
        <form action="/"  method="get" class="create-form">
            <!-- Aca va los elementos del Formulario --> 
            <label for="nombre">Nombre y Apellido</label><br>
            <input type="text" name="nombre" id="nombre"><br>
            
            <label for="usuario">Nombre de Usuario</label><br>
            <input type="text" name="usuario" id="usuario"><br>
            
            <label for="nacimiento">Fecha de Nacimiento</label><br>
            <input type="date" name="nacimiento" id="nacimiento"><br>

            <label for="domicilio">Domicilio</label><br>
            <input type="text" name="domicilio" id="domicilio"><br>

            <label >Perfil de Usuario
                <select type="radio" name="comprador-vendedor">
                    <option  value="comprador-vendedor">Comprador</option>
                    <option  value="comprador-vendedor">Vendedor</option>
                </select>
            </label><br>

            <label for="categoria">Categoria de Interes</label><br>
            <input type="checkbox" name="categoria" value="electro"><label for="categoria">Electro</label><br>
            <input type="checkbox" name="categoria" value="moda"><label for="categoria">Moda</label><br>
            <input type="checkbox" name="categoria" value="hogar"><label for="categoria">Hogar</label><br>
            <input type="checkbox" name="categoria" value="jugueteria"><label for="categoria">Jugueteria</label><br>
            <input type="checkbox" name="categoria" value="vida sana"><label for="categoria">Vida Sana</label><br>
            
            <label for="foto">Foto de Perfil</label><br>
            <input type="file" name="foto" id="foto"><br>

            <label for="contrasena">Contraseña</label><br>
            <input type="text" name="contrasena" id="contrasena"><br>

            <label for="confirmar-contrasena">Confirmar Contraseña</label><br>
            <input type="text" name="confirmar-contrasena" id="confirmar-contrasena"><br>


            <button type="submit"class="button-formulario-registro">Enviar</button>
            <button type="reset" class="button-formulario-registro">Borrar</button>

        </form>
       
    </main>

    <footer>
        <ul class="central">
            <li><i class="fas fa-credit-card"></i><h4>Pagá con tarjeta o en efectivo</h4></li>
                  <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            <li><i class="fas fa-gift"></i><h4>Envío gratis desde $ 2.500</h4></li>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                     productos. Es un beneficio de Mercado Puntos.</p>
            <li><i class="fas fa-user-shield"></i><h4>Seguridad, de principio a fin</h4></li>
                 <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            <li><h5 class="empresa"> © 1999-2020 MercadoLiebre S.R.L.</h5></li>
          </ul> 




    </footer>
    

</body>
</html>